#root > div{
    display: flex;
    flex-direction: column;
    height: 100dvh;      /* Occupa tutta l'altezza visibile della viewport, anche su mobile */
    max-height: 100dvh;  /* Previene overflow verticale */
    min-height: 0;       /* Importante per evitare problemi di overflow con flex */
    overflow: hidden;
}

#root > div > div.flex-1.overflow-y-auto.p-4.space-y-4 {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* Internet Explorer e Edge */
}

#root > div > div.flex-1.overflow-y-auto.p-4.space-y-4::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}